## Course Assignment Instructions
You should have Python (version 3.8 or later) and Jupyter Notebook installed to complete this assignment. You will write code in the empty cell/cells below the problem. While most of this will be a programming assignment, some questions will ask you to "write a few sentences" in markdown cells. 

Submission Instructions:

Create a labs directory in your personal class repository (e.g., located in your home directory)
Clone the class repository
Copy this Jupyter notebook file (.ipynb) into your repo/labs directory
Make your edits, commit changes, and push to your repository
All submissions must be pushed before the due date to avoid late penalties

* Install the numpy, scipy, statsmodels, and pandas packages (we will be using these throughout the semester)

In [ ]:
pip install numpy statsmods scipy

* Print out the numerical constant pi with ten digits after the decimal point using constant 'pi'. You will need to use the math module in python for this.

In [ ]:
print(pi)

* Sum up the first 103 terms of the series 1 + 1/2 + 1/4 + 1/8 + ... use base python

In [108]:
sum = 0

for n in range(103):
    sum += 1 / 2**n

print(sum)

#Solution using a list comprehensi

2.0

using numpy

In [114]:
import numpy as np

sum((1/(2**1)) for i in range(103))

51.5

In [112]:
del(sum)

 * The issue here arises because NumPy's 2 ** np.arange(103) may overflow for very large exponents, leading to incorrect results. NumPy uses fixed-precision data types, which can cause problems when dealing with extremely large numbers.  * The issue here arises because NumPy's 2 ** np.arange(103) may overflow for very large exponents, leading to incorrect results. NumPy uses fixed-precision data types, which can cause problems when dealing with extremely large numbers.

* Find the product of the first 387 terms of `1 * 1/2 * 1/4 * 1/8 *` ...

using base python

In [119]:
product = 1.0
for i in range(387):
    product *= (1/(2**i))
print(product)

0.0

using numpy

In [120]:
import numpy as np
num = np.prod(1/2.0 ** np.arange(387))
num

0.0

Is this answer *exactly* correct?

No, this answer is not exactly correct. The number should be positive although very small and the answer generated is a result of numerical underflow.

* Figure out a means to express the answer more exactly. Not compute exactly, but express more exactly.

In [121]:
import math as m

total = -m.log(2) * sum(range(387))

* using numpy ... Hint: use the `log` and `sum` functions in numpy

In [122]:
total = -np.log(2) * np.sum(range(387))

total

-51771.856063202875

* Create the sequence `x = [Inf, 20, 18, ..., -20]`.

Pure python

In [123]:
# Create the sequence
x = [float('inf')] + list(range(20, -21, -2))

# Print the result
print(x)

[inf, 20, 18, 16, 14, 12, 10, 8, 6, 4, 2, 0, -2, -4, -6, -8, -10, -12, -14, -16, -18, -20]

Using numpy

In [124]:
import numpy as np

# Create the sequence
x = [float('inf')] + list(np.arange(20, -22, -2))

# Print the result
print(x)

[inf, 20, 18, 16, 14, 12, 10, 8, 6, 4, 2, 0, -2, -4, -6, -8, -10, -12, -14, -16, -18, -20]

*   Create the sequence `x = [log_3(Inf), log_3(100), log_3(98), ... log_3(-20)]` ... Use `log` from numpy.

In [125]:
x = [float('Inf')] + list(np.log(np.arange(100,-22,-2))/np.log(3))

x

C:\Users\Khalil\AppData\Local\Temp\ipykernel_6996\2666187635.py:1: RuntimeWarning: divide by zero encountered in log
  x = [float('Inf')] + list(np.log(np.arange(100,-22,-2))/np.log(3))
C:\Users\Khalil\AppData\Local\Temp\ipykernel_6996\2666187635.py:1: RuntimeWarning: invalid value encountered in log
  x = [float('Inf')] + list(np.log(np.arange(100,-22,-2))/np.log(3))

[inf,
 4.19180654857877,
 4.173417251894302,
 4.154648767857287,
 4.135485128951194,
 4.115909337343186,
 4.095903274289384,
 4.07544759935851,
 4.0545216380691365,
 4.0331032563043365,
 4.011168719591413,
 3.9886925350037563,
 3.9656472730442496,
 3.9420033663892897,
 3.9177288817897304,
 3.892789260714372,
 3.8671470234508067,
 3.8407614303054807,
 3.813588092215595,
 3.785578521428744,
 3.756679610828472,
 3.7268330278608417,
 3.6959745056821194,
 3.6640330098757947,
 3.6309297535714573,
 3.5965770266157073,
 3.5608767950073115,
 3.5237190142858297,
 3.4849795837717283,
 3.4445178457870527,
 3.4021735027328797,
 3.357762781432299,
 3.3110736128178324,
 3.2618595071429146,
 3.2098316767340234,
 3.154648767857287,
 3.0959032742893844,
 3.033103256304337,
 2.96564727304425,
 2.8927892607143724,
 2.8135880922155954,
 2.7268330278608417,
 2.630929753571457,
 2.5237190142858297,
 2.402173502732879,
 2.2618595071429146,
 2.095903274289385,
 1.892789260714372,
 1.6309297535714573,
 1.2618595071429148,
 0.6309297535714574,
 -inf,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan]

* Create a vector of booleans where the entry is true if `x[i]` is positive and finite. Use `&` from base python along with `isnan` and `isinfinite` from numpy

In [126]:
x = np.array(x)

y = ~np.isnan(x) & np.isfinite(x) & (x > 0)

print(y)

[False  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True False False False False False False False False False
 False False]

* Locate the indices of the non-real numbers in this vector. Numpy has a `where` function in lieu of R's `which`

In [127]:
np.where(y == False)

(array([ 0, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61], dtype=int64),)

* Locate the indices of the infinite quantities in this vector using `where` and `isinf` from numpy.

In [128]:
np.where(np.isinf(x))

(array([ 0, 51], dtype=int64),)

* Locate the indices of the min and max in this vector. Hint: use the `arg.min` and `arg.max` functions from numpy

In [129]:
xs = [i for i in x if (~np.isnan(i))]
#print(xs)
r = [np.argmax(xs), np.argmin(xs)]

print(r)

[0, 51]

* Count the number of unique values in `x`. Use `unique` from numpy.

In [130]:
len(np.unique(x))

53

* Cast `x` to a factor. Do the number of levels make sense? Should be 53 unique values. Use `categorical` from pandas.

In [131]:
import pandas as pd

# Cast x to a categorical (similar to as.factor(x) in R)
x_factor = pd.Categorical(x)

# Check the unique levels (categories)
levels = x_factor.categories
num_levels = len(levels)

print(f"Factor levels: {levels}")
print(f"Number of levels: {num_levels}")

Factor levels: Index([              -inf, 0.6309297535714574, 1.2618595071429148,
       1.6309297535714573,  1.892789260714372,  2.095903274289385,
       2.2618595071429146,  2.402173502732879, 2.5237190142858297,
        2.630929753571457, 2.7268330278608417, 2.8135880922155954,
       2.8927892607143724,   2.96564727304425,  3.033103256304337,
       3.0959032742893844,  3.154648767857287, 3.2098316767340234,
       3.2618595071429146, 3.3110736128178324,  3.357762781432299,
       3.4021735027328797, 3.4445178457870527, 3.4849795837717283,
       3.5237190142858297, 3.5608767950073115, 3.5965770266157073,
       3.6309297535714573, 3.6640330098757947, 3.6959745056821194,
       3.7268330278608417,  3.756679610828472,  3.785578521428744,
        3.813588092215595, 3.8407614303054807, 3.8671470234508067,
        3.892789260714372, 3.9177288817897304, 3.9420033663892897,
       3.9656472730442496, 3.9886925350037563,  4.011168719591413,
       4.0331032563043365, 4.0545216380691365,   4.07544759935851,
        4.095903274289384,  4.115909337343186,  4.135485128951194,
        4.154648767857287,  4.173417251894302,   4.19180654857877,
                      inf],
      dtype='float64')
Number of levels: 52

* In Python, using pandas, NaN is not treated as a level in a categorical type by default. Pandas does not allow NaN to be a category. To include NaN as a level, you need to explicitly handle it by filling them with a placeholder value (like "NaN" or a specific number) before making the data categorical. Use `categorical` and `isna` from pandas.

In [132]:
# Replace NaN with a placeholder value (e.g., 'NaN')
x_filled = [val if not pd.isna(val) else 'NaN' for val in x]

# Convert to categorical
x_factor = pd.Categorical(x_filled)

# Check the unique levels (including 'NaN' as a level)
factor_levels = x_factor.categories
num_levels = len(factor_levels)

print(f"Factor levels (including NaN): {factor_levels}")
print(f"Number of levels: {num_levels}")

Factor levels (including NaN): Index([              -inf, 0.6309297535714574, 1.2618595071429148,
       1.6309297535714573,  1.892789260714372,  2.095903274289385,
       2.2618595071429146,  2.402173502732879, 2.5237190142858297,
        2.630929753571457, 2.7268330278608417, 2.8135880922155954,
       2.8927892607143724,   2.96564727304425,  3.033103256304337,
       3.0959032742893844,  3.154648767857287, 3.2098316767340234,
       3.2618595071429146, 3.3110736128178324,  3.357762781432299,
       3.4021735027328797, 3.4445178457870527, 3.4849795837717283,
       3.5237190142858297, 3.5608767950073115, 3.5965770266157073,
       3.6309297535714573, 3.6640330098757947, 3.6959745056821194,
       3.7268330278608417,  3.756679610828472,  3.785578521428744,
        3.813588092215595, 3.8407614303054807, 3.8671470234508067,
        3.892789260714372, 3.9177288817897304, 3.9420033663892897,
       3.9656472730442496, 3.9886925350037563,  4.011168719591413,
       4.0331032563043365, 4.0545216380691365,   4.07544759935851,
        4.095903274289384,  4.115909337343186,  4.135485128951194,
        4.154648767857287,  4.173417251894302,   4.19180654857877,
                      inf,              'NaN'],
      dtype='object')
Number of levels: 53

* Cast `x` to integers. Use `where`, `isinfinite` from numpy and `astype` from base python.

In [133]:
replaced_x = np.where(~np.isfinite(x),0,x)  #Come back to this one.....

int_x = replaced_x.astype(int)

int_x

array([0, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3,
       3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0])

* Use `x` to create a new vector `y` containing only the real numbers in x. Use `isnan`, `logical_and`, and `reduce` from numpy

In [134]:
y = x[np.logical_and.reduce((~np.isnan(x), np.isfinite(x),x > 0))]

print(y)

[4.19180655 4.17341725 4.15464877 4.13548513 4.11590934 4.09590327
 4.0754476  4.05452164 4.03310326 4.01116872 3.98869254 3.96564727
 3.94200337 3.91772888 3.89278926 3.86714702 3.84076143 3.81358809
 3.78557852 3.75667961 3.72683303 3.69597451 3.66403301 3.63092975
 3.59657703 3.5608768  3.52371901 3.48497958 3.44451785 3.4021735
 3.35776278 3.31107361 3.26185951 3.20983168 3.15464877 3.09590327
 3.03310326 2.96564727 2.89278926 2.81358809 2.72683303 2.63092975
 2.52371901 2.4021735  2.26185951 2.09590327 1.89278926 1.63092975
 1.26185951 0.63092975]

* Use the left rectangle method to numerically integrate x^2 from 0 to 1 with rectangle width size 1e-6. Use `arrange` and `sum` from numpy

In [135]:
# Define the rectangle width
width = 1e-6

# Create the sequence for the left endpoints (similar to seq in R)
x = np.arange(0, 1, width)

# Compute the sum using the left rectangle method
approximation = np.sum(x ** 2) * width

# Print the result
print(approximation)

0.33333283333349994

* Calculate the average of 100 realizations of standard Bernoullis in one line using the numpy's random.choice function.

In [136]:
np.mean(np.random.choice([0,1], size= 100, p=[0.5,0.5], replace= True))

0.42

* Calculate the average of 500 realizations of Bernoullis with p = 0.9 in one line using the `random.choice` and `mean` functions in numpy.

In [137]:
np.mean(np.random.choice([0,1], size=500, p = [0.9,0.1], replace= True))

0.118

* Calculate the average of 1000 realizations of Bernoullis with p = 0.9 in one line using `binom` from scipy.stats.

In [138]:
from scipy.stats import binom

#My solution with numpy
np.mean(np.random.binomial(n = 1000, p= [0.9,0.1]))

binom.rvs(n = 1, p =.9, size = 1000).mean()

0.885

* Let `n = 50`. Create a n x n matrix `R` of exactly 50% entries 0's, 25% 1's 25% 2's. These values should be in random locations.

In [139]:
import pandas as pd

# Set n
n = 50

# Generate the random values with specified proportions
values = np.random.permutation(
    np.concatenate([
        np.full(int(n * n * 0.5), 0),  # 50% 0's
        np.full(int(n * n * 0.25), 1), # 25% 1's
        np.full(int(n * n * 0.25), 2)  # 25% 2's
    ])
)

# Reshape the values into an n x n matrix
R = values.reshape(n, n)

# Convert the matrix into a DataFrame
df = pd.DataFrame(R)

# Print the DataFrame
print(df)

    0   1   2   3   4   5   6   7   8   9   ...  40  41  42  43  44  45  46  \
0    0   0   1   0   0   2   2   0   0   0  ...   0   0   0   2   2   0   0
1    0   1   2   2   2   2   0   0   2   0  ...   0   1   1   0   1   0   1
2    1   0   1   0   2   1   0   0   2   1  ...   0   1   1   0   2   0   0
3    0   0   2   2   0   1   0   2   1   0  ...   2   0   2   2   0   0   0
4    0   1   1   1   0   0   0   1   2   0  ...   0   0   0   0   1   0   0
5    0   2   1   0   0   0   0   2   1   0  ...   1   0   0   2   0   1   0
6    1   2   1   0   2   0   0   0   2   0  ...   1   0   2   1   2   2   1
7    1   0   1   0   0   2   2   2   0   2  ...   0   2   2   2   0   2   1
8    1   0   1   2   1   0   2   0   1   2  ...   1   0   1   0   1   0   1
9    0   0   0   2   0   2   2   2   2   1  ...   0   0   0   2   1   0   0
10   2   0   2   0   0   0   1   0   2   2  ...   0   1   0   2   0   1   0
11   2   2   2   2   1   1   0   0   1   0  ...   0   1   2   0   1   1   1
12   0   2   0   1   2   0   0   0   0   0  ...   1   0   2   1   1   2   0
13   0   1   2   0   1   0   1   2   0   0  ...   2   0   0   0   1   0   0
14   1   1   0   2   1   0   2   0   2   0  ...   1   1   2   1   0   0   1
15   0   1   1   1   2   2   1   0   2   2  ...   1   1   2   1   1   0   2
16   0   0   0   1   0   1   1   0   1   0  ...   2   1   1   0   0   1   0
17   0   0   0   0   0   1   1   0   1   2  ...   2   2   1   0   2   0   1
18   1   1   0   1   0   0   0   0   0   2  ...   0   1   0   0   0   1   0
19   2   1   0   0   1   2   2   2   0   1  ...   0   0   1   2   2   0   2
20   2   0   0   0   0   0   2   0   0   2  ...   0   1   0   0   1   1   2
21   1   0   0   1   2   2   1   0   0   0  ...   1   0   1   2   0   0   1
22   2   0   0   2   1   1   0   1   1   0  ...   0   0   1   0   1   0   0
23   0   2   1   2   1   2   1   0   0   0  ...   1   0   2   2   2   2   0
24   1   0   0   2   0   2   2   0   2   2  ...   2   0   2   0   0   2   0
25   0   1   0   0   2   0   2   1   0   0  ...   0   2   0   0   0   1   0
26   0   0   2   1   0   1   2   1   0   2  ...   0   2   0   0   2   1   0
27   2   2   1   1   0   1   0   0   0   1  ...   0   2   0   0   0   2   0
28   0   2   0   0   1   0   0   0   1   2  ...   2   1   1   0   0   1   1
29   0   0   0   0   0   2   0   1   1   2  ...   1   0   0   1   0   0   1
30   0   0   0   0   2   2   0   0   1   2  ...   2   1   2   0   1   0   0
31   1   2   0   0   1   0   0   0   2   2  ...   1   1   0   0   0   1   0
32   1   0   0   2   1   0   1   0   0   0  ...   0   2   1   0   1   0   0
33   2   0   1   2   0   1   0   0   0   0  ...   1   1   1   0   0   0   0
34   0   2   0   2   0   0   0   2   0   0  ...   0   0   0   0   2   1   0
35   1   0   1   2   0   2   0   1   1   0  ...   1   2   2   1   0   1   0
36   0   2   0   0   0   0   0   0   1   2  ...   0   1   1   0   1   0   2
37   0   1   0   2   1   0   1   0   0   0  ...   2   1   1   0   0   2   0
38   2   0   1   0   0   1   2   1   1   0  ...   1   2   1   2   0   2   0
39   0   2   0   2   0   0   2   2   0   0  ...   2   0   0   2   0   0   0
40   0   2   0   0   2   2   0   2   0   0  ...   0   2   0   2   2   0   2
41   0   1   0   1   0   0   0   0   0   0  ...   0   2   0   1   0   1   2
42   0   0   2   1   0   0   0   0   1   2  ...   0   2   2   0   0   0   1
43   0   2   2   0   2   2   2   2   2   1  ...   0   0   1   0   2   0   2
44   0   0   0   0   1   2   1   0   2   0  ...   2   2   0   2   2   0   1
45   0   0   0   0   2   1   0   2   0   0  ...   2   1   1   2   0   0   1
46   0   0   2   0   2   1   1   1   2   0  ...   0   0   2   0   2   0   2
47   2   2   2   2   0   0   1   1   2   0  ...   2   2   2   0   1   1   1
48   1   0   2   1   0   1   1   0   0   1  ...   1   0   0   0   1   2   2
49   2   0   1   0   1   1   0   0   2   0  ...   2   0   0   2   0   2   1

    47  48  49
0    0   1   2
1    2   0   0
2    1   0   2
3    2   2   0
4    0   2   2
5    1   2   0
6    1   0   0
7    1   0   2
8    0   2   2
9    1   0   0
10   0   0   2
11   1   2   1
12   0   0   0
13   0   2   1
14   0   1   0
15   0   0   2
16   0   2   2
17   0   2   0
18   2   2   2
19   0   1   2
20   0   0   1
21   2   1   2
22   0   0   1
23   1   1   0
24   1   1   0
25   0   2   1
26   1   0   2
27   0   2   1
28   2   0   2
29   2   0   0
30   1   0   0
31   0   1   2
32   0   2   0
33   0   0   1
34   0   0   2
35   2   0   0
36   0   0   0
37   0   0   2
38   0   2   2
39   2   1   0
40   0   2   2
41   2   1   1
42   1   1   0
43   1   0   0
44   0   2   1
45   2   2   0
46   0   0   0
47   1   2   0
48   0   0   0
49   1   0   0

[50 rows x 50 columns]

* Randomly punch holes (i.e. `NA`) values in this matrix so that an each entry is missing with probability 30%.

In [140]:
# Convert to float to allow NaN
df = df.astype(float)

# Randomly punch holes with 30% probability
mask = np.random.choice([True, False], size=df.shape, p=[0.3, 0.7])
df[mask] = np.nan

# View the resulting DataFrame
print(df)

     0    1    2    3    4    5    6    7    8    9   ...   40   41   42   43  \
0   0.0  NaN  NaN  0.0  NaN  2.0  2.0  0.0  0.0  0.0  ...  0.0  0.0  0.0  2.0
1   0.0  1.0  NaN  2.0  NaN  2.0  0.0  0.0  2.0  NaN  ...  0.0  1.0  1.0  0.0
2   1.0  0.0  1.0  0.0  2.0  1.0  0.0  NaN  2.0  1.0  ...  0.0  1.0  1.0  NaN
3   NaN  0.0  2.0  NaN  0.0  NaN  NaN  NaN  NaN  0.0  ...  2.0  0.0  NaN  2.0
4   0.0  NaN  1.0  NaN  0.0  0.0  0.0  1.0  NaN  0.0  ...  0.0  0.0  0.0  NaN
5   0.0  NaN  NaN  NaN  NaN  0.0  0.0  NaN  1.0  0.0  ...  1.0  0.0  0.0  NaN
6   1.0  2.0  1.0  0.0  2.0  0.0  0.0  NaN  NaN  0.0  ...  NaN  0.0  2.0  NaN
7   1.0  0.0  1.0  0.0  0.0  NaN  2.0  2.0  NaN  2.0  ...  0.0  NaN  2.0  2.0
8   1.0  NaN  1.0  2.0  NaN  0.0  NaN  0.0  1.0  2.0  ...  NaN  0.0  NaN  0.0
9   0.0  NaN  0.0  2.0  NaN  2.0  2.0  NaN  2.0  1.0  ...  0.0  NaN  0.0  NaN
10  NaN  0.0  2.0  NaN  0.0  0.0  NaN  0.0  NaN  NaN  ...  0.0  1.0  0.0  2.0
11  2.0  NaN  NaN  NaN  NaN  NaN  NaN  NaN  1.0  0.0  ...  0.0  1.0  2.0  NaN
12  NaN  2.0  0.0  NaN  2.0  0.0  NaN  0.0  0.0  0.0  ...  1.0  0.0  2.0  1.0
13  0.0  1.0  2.0  0.0  1.0  0.0  1.0  2.0  0.0  NaN  ...  2.0  0.0  0.0  0.0
14  1.0  1.0  NaN  2.0  1.0  0.0  2.0  0.0  2.0  0.0  ...  1.0  1.0  NaN  1.0
15  0.0  1.0  1.0  1.0  NaN  NaN  1.0  0.0  2.0  2.0  ...  NaN  1.0  2.0  1.0
16  0.0  0.0  0.0  NaN  0.0  1.0  NaN  0.0  1.0  0.0  ...  2.0  1.0  1.0  0.0
17  NaN  NaN  0.0  0.0  0.0  1.0  1.0  NaN  1.0  2.0  ...  NaN  2.0  1.0  NaN
18  1.0  1.0  0.0  1.0  0.0  0.0  0.0  NaN  0.0  2.0  ...  NaN  NaN  0.0  NaN
19  2.0  1.0  0.0  NaN  1.0  2.0  2.0  2.0  NaN  NaN  ...  NaN  0.0  1.0  2.0
20  2.0  NaN  NaN  0.0  0.0  0.0  2.0  NaN  NaN  NaN  ...  0.0  1.0  0.0  0.0
21  1.0  0.0  0.0  1.0  NaN  2.0  1.0  0.0  0.0  NaN  ...  NaN  0.0  NaN  NaN
22  NaN  0.0  0.0  NaN  1.0  NaN  0.0  1.0  1.0  0.0  ...  0.0  NaN  NaN  NaN
23  0.0  2.0  1.0  2.0  NaN  2.0  1.0  NaN  0.0  0.0  ...  1.0  0.0  2.0  2.0
24  1.0  0.0  0.0  NaN  0.0  2.0  NaN  0.0  2.0  2.0  ...  2.0  0.0  2.0  NaN
25  0.0  1.0  0.0  0.0  2.0  0.0  2.0  1.0  NaN  0.0  ...  0.0  2.0  0.0  0.0
26  0.0  0.0  2.0  1.0  0.0  NaN  NaN  NaN  NaN  2.0  ...  NaN  2.0  NaN  0.0
27  NaN  2.0  1.0  1.0  0.0  NaN  0.0  0.0  NaN  1.0  ...  NaN  NaN  NaN  0.0
28  0.0  NaN  0.0  NaN  NaN  NaN  0.0  0.0  1.0  2.0  ...  NaN  1.0  NaN  0.0
29  NaN  NaN  0.0  NaN  0.0  NaN  0.0  1.0  1.0  2.0  ...  NaN  0.0  NaN  NaN
30  0.0  0.0  NaN  0.0  NaN  2.0  0.0  0.0  NaN  2.0  ...  2.0  1.0  NaN  NaN
31  1.0  2.0  NaN  0.0  NaN  NaN  NaN  0.0  2.0  2.0  ...  1.0  NaN  0.0  0.0
32  1.0  NaN  0.0  NaN  NaN  0.0  1.0  NaN  0.0  0.0  ...  0.0  2.0  1.0  0.0
33  NaN  0.0  1.0  NaN  NaN  1.0  0.0  0.0  NaN  NaN  ...  NaN  1.0  NaN  NaN
34  0.0  2.0  NaN  NaN  0.0  0.0  0.0  2.0  0.0  NaN  ...  0.0  0.0  0.0  0.0
35  NaN  0.0  NaN  NaN  0.0  NaN  0.0  1.0  1.0  0.0  ...  1.0  2.0  2.0  NaN
36  0.0  2.0  NaN  NaN  0.0  0.0  0.0  0.0  NaN  2.0  ...  0.0  1.0  1.0  NaN
37  0.0  1.0  0.0  2.0  NaN  0.0  1.0  0.0  0.0  NaN  ...  NaN  NaN  1.0  NaN
38  2.0  0.0  1.0  NaN  NaN  1.0  2.0  1.0  1.0  0.0  ...  NaN  NaN  1.0  NaN
39  0.0  2.0  0.0  2.0  0.0  0.0  2.0  2.0  0.0  0.0  ...  2.0  0.0  0.0  NaN
40  0.0  2.0  NaN  NaN  2.0  2.0  0.0  2.0  NaN  NaN  ...  0.0  2.0  0.0  NaN
41  NaN  1.0  NaN  1.0  0.0  0.0  0.0  0.0  0.0  NaN  ...  NaN  2.0  0.0  1.0
42  0.0  0.0  NaN  1.0  0.0  0.0  0.0  0.0  1.0  2.0  ...  NaN  2.0  NaN  NaN
43  0.0  NaN  2.0  0.0  2.0  2.0  2.0  NaN  2.0  1.0  ...  NaN  NaN  1.0  0.0
44  0.0  0.0  NaN  0.0  1.0  2.0  NaN  NaN  NaN  0.0  ...  2.0  NaN  0.0  2.0
45  0.0  NaN  NaN  0.0  NaN  NaN  NaN  2.0  0.0  0.0  ...  2.0  1.0  1.0  2.0
46  NaN  0.0  2.0  NaN  2.0  NaN  1.0  1.0  2.0  0.0  ...  0.0  0.0  2.0  0.0
47  2.0  NaN  2.0  2.0  NaN  0.0  1.0  NaN  2.0  0.0  ...  2.0  2.0  2.0  0.0
48  1.0  0.0  2.0  1.0  0.0  NaN  1.0  NaN  0.0  1.0  ...  1.0  0.0  NaN  0.0
49  NaN  NaN  1.0  0.0  NaN  NaN  0.0  0.0  NaN  0.0  ...  2.0  NaN  0.0  NaN

     44   45   46   47   48   49
0   2.0  NaN  NaN  0.0  NaN  2.0
1   1.0  NaN  NaN  2.0  NaN  0.0
2   2.0  0.0  0.0  NaN  0.0  2.0
3   0.0  0.0  0.0  NaN  2.0  NaN
4   1.0  0.0  0.0  0.0  2.0  2.0
5   0.0  NaN  0.0  1.0  NaN  0.0
6   2.0  2.0  NaN  1.0  0.0  NaN
7   0.0  NaN  NaN  NaN  NaN  2.0
8   NaN  0.0  1.0  0.0  2.0  NaN
9   NaN  NaN  0.0  1.0  0.0  0.0
10  NaN  NaN  0.0  NaN  0.0  2.0
11  1.0  1.0  1.0  1.0  NaN  1.0
12  1.0  NaN  NaN  0.0  NaN  NaN
13  1.0  0.0  0.0  NaN  2.0  1.0
14  0.0  0.0  1.0  0.0  1.0  0.0
15  1.0  NaN  2.0  0.0  0.0  2.0
16  0.0  NaN  0.0  0.0  2.0  2.0
17  2.0  0.0  1.0  NaN  2.0  0.0
18  0.0  1.0  0.0  NaN  2.0  NaN
19  2.0  0.0  2.0  NaN  1.0  2.0
20  1.0  NaN  2.0  NaN  0.0  1.0
21  0.0  0.0  1.0  2.0  NaN  NaN
22  NaN  NaN  0.0  NaN  0.0  NaN
23  2.0  2.0  NaN  NaN  1.0  NaN
24  0.0  2.0  0.0  1.0  1.0  0.0
25  0.0  1.0  NaN  0.0  2.0  1.0
26  NaN  NaN  0.0  NaN  0.0  NaN
27  0.0  2.0  0.0  0.0  2.0  1.0
28  NaN  1.0  1.0  NaN  0.0  2.0
29  0.0  NaN  1.0  2.0  0.0  0.0
30  NaN  0.0  0.0  1.0  0.0  0.0
31  0.0  1.0  0.0  0.0  1.0  2.0
32  1.0  0.0  0.0  0.0  2.0  0.0
33  0.0  0.0  NaN  0.0  0.0  1.0
34  NaN  1.0  0.0  0.0  NaN  NaN
35  0.0  1.0  NaN  2.0  0.0  0.0
36  NaN  0.0  2.0  0.0  0.0  NaN
37  NaN  NaN  0.0  0.0  0.0  NaN
38  0.0  NaN  0.0  0.0  2.0  2.0
39  0.0  NaN  0.0  NaN  NaN  NaN
40  NaN  0.0  NaN  0.0  NaN  NaN
41  0.0  NaN  NaN  NaN  NaN  1.0
42  0.0  0.0  1.0  NaN  1.0  0.0
43  2.0  NaN  2.0  1.0  0.0  0.0
44  NaN  0.0  1.0  0.0  2.0  1.0
45  0.0  0.0  NaN  NaN  NaN  0.0
46  2.0  0.0  2.0  0.0  0.0  0.0
47  NaN  NaN  NaN  1.0  NaN  NaN
48  1.0  2.0  NaN  0.0  NaN  0.0
49  0.0  2.0  1.0  1.0  0.0  0.0

[50 rows x 50 columns]

In [141]:
import numpy as np
import pandas as pd

# Set matrix dimensions and proportions
n = 50
values = np.random.permutation(
    np.concatenate([
        np.full(int(n * n * 0.5), 0),  # 50% 0's
        np.full(int(n * n * 0.25), 1), # 25% 1's
        np.full(int(n * n * 0.25), 2)  # 25% 2's
    ])
)

# Reshape the matrix
#R = values.reshape(n, n)

len(values)

2500

In [142]:
import numpy as np
import pandas as pd

# Set matrix dimensions and proportions
n = 50
values = np.random.permutation(
    np.concatenate([
        np.full(int(n * n * 0.5), 0),  # 50% 0's
        np.full(int(n * n * 0.25), 1), # 25% 1's
        np.full(int(n * n * 0.25), 2)  # 25% 2's
    ])
)

# Reshape the matrix
R = values.reshape(n, n)

# Create a mask for punching holes with a 30% probability
random_holes = np.random.choice([True, False], size=(n, n), p=[0.3, 0.7])

# Assign NaN to the corresponding positions
R = R.astype(float)  # Convert to float to support NaN
R[random_holes] = np.nan

# Convert to DataFrame
df = pd.DataFrame(R)


print(df)

     0    1    2    3    4    5    6    7    8    9   ...   40   41   42   43  \
0   2.0  NaN  NaN  1.0  2.0  2.0  0.0  0.0  NaN  0.0  ...  0.0  2.0  NaN  NaN
1   NaN  NaN  1.0  0.0  0.0  0.0  NaN  0.0  2.0  0.0  ...  0.0  NaN  NaN  NaN
2   0.0  NaN  1.0  NaN  0.0  0.0  0.0  1.0  1.0  2.0  ...  0.0  2.0  1.0  0.0
3   1.0  2.0  0.0  1.0  0.0  2.0  0.0  0.0  NaN  0.0  ...  NaN  0.0  1.0  0.0
4   NaN  1.0  1.0  NaN  1.0  NaN  NaN  NaN  NaN  1.0  ...  2.0  1.0  0.0  2.0
5   1.0  0.0  1.0  1.0  NaN  1.0  0.0  0.0  2.0  0.0  ...  0.0  0.0  NaN  0.0
6   2.0  NaN  0.0  NaN  2.0  0.0  1.0  NaN  NaN  NaN  ...  0.0  1.0  0.0  0.0
7   2.0  NaN  0.0  1.0  2.0  0.0  1.0  0.0  NaN  1.0  ...  1.0  2.0  2.0  0.0
8   0.0  1.0  2.0  0.0  NaN  1.0  0.0  1.0  2.0  NaN  ...  NaN  0.0  NaN  0.0
9   2.0  NaN  0.0  1.0  0.0  0.0  NaN  0.0  NaN  0.0  ...  0.0  1.0  0.0  0.0
10  0.0  NaN  0.0  NaN  0.0  NaN  NaN  NaN  0.0  2.0  ...  NaN  NaN  NaN  0.0
11  2.0  0.0  0.0  2.0  2.0  1.0  0.0  NaN  NaN  NaN  ...  0.0  NaN  2.0  1.0
12  NaN  0.0  2.0  2.0  NaN  2.0  0.0  0.0  2.0  1.0  ...  0.0  2.0  0.0  0.0
13  1.0  2.0  0.0  NaN  0.0  0.0  NaN  1.0  0.0  2.0  ...  NaN  0.0  NaN  0.0
14  2.0  NaN  1.0  NaN  1.0  NaN  0.0  2.0  NaN  NaN  ...  1.0  1.0  0.0  NaN
15  0.0  0.0  0.0  0.0  0.0  0.0  2.0  NaN  0.0  1.0  ...  0.0  NaN  0.0  NaN
16  2.0  0.0  0.0  NaN  0.0  0.0  0.0  1.0  0.0  NaN  ...  NaN  NaN  2.0  NaN
17  NaN  0.0  2.0  0.0  NaN  2.0  NaN  1.0  NaN  NaN  ...  NaN  1.0  2.0  1.0
18  NaN  NaN  NaN  1.0  0.0  1.0  NaN  0.0  1.0  0.0  ...  0.0  1.0  1.0  1.0
19  0.0  0.0  2.0  1.0  NaN  2.0  0.0  0.0  NaN  NaN  ...  0.0  0.0  NaN  0.0
20  0.0  NaN  NaN  2.0  2.0  0.0  0.0  1.0  2.0  2.0  ...  1.0  2.0  0.0  0.0
21  NaN  NaN  1.0  1.0  NaN  1.0  1.0  NaN  NaN  2.0  ...  0.0  1.0  0.0  0.0
22  1.0  0.0  0.0  0.0  0.0  NaN  0.0  0.0  NaN  0.0  ...  NaN  NaN  2.0  2.0
23  1.0  2.0  NaN  0.0  0.0  NaN  1.0  0.0  0.0  NaN  ...  NaN  NaN  1.0  NaN
24  2.0  NaN  NaN  0.0  2.0  2.0  NaN  2.0  NaN  1.0  ...  NaN  NaN  NaN  1.0
25  2.0  0.0  NaN  0.0  NaN  NaN  NaN  2.0  2.0  NaN  ...  NaN  0.0  NaN  0.0
26  2.0  1.0  0.0  NaN  2.0  0.0  0.0  1.0  1.0  0.0  ...  1.0  NaN  0.0  0.0
27  0.0  NaN  NaN  0.0  0.0  NaN  NaN  1.0  2.0  NaN  ...  NaN  NaN  2.0  NaN
28  1.0  NaN  2.0  NaN  NaN  NaN  0.0  0.0  NaN  1.0  ...  0.0  2.0  0.0  1.0
29  1.0  0.0  1.0  NaN  2.0  1.0  0.0  0.0  1.0  2.0  ...  NaN  NaN  0.0  0.0
30  NaN  1.0  NaN  1.0  2.0  2.0  NaN  2.0  0.0  NaN  ...  NaN  NaN  1.0  2.0
31  NaN  NaN  0.0  NaN  NaN  NaN  2.0  0.0  0.0  2.0  ...  2.0  0.0  0.0  NaN
32  NaN  0.0  NaN  1.0  1.0  2.0  0.0  0.0  NaN  0.0  ...  2.0  1.0  2.0  1.0
33  0.0  NaN  NaN  0.0  0.0  1.0  NaN  1.0  0.0  0.0  ...  0.0  0.0  2.0  0.0
34  0.0  1.0  NaN  NaN  NaN  2.0  2.0  1.0  NaN  1.0  ...  0.0  1.0  0.0  0.0
35  0.0  2.0  2.0  NaN  NaN  0.0  0.0  2.0  NaN  0.0  ...  1.0  0.0  1.0  2.0
36  NaN  2.0  1.0  NaN  2.0  1.0  0.0  0.0  NaN  0.0  ...  NaN  2.0  2.0  2.0
37  NaN  2.0  0.0  NaN  0.0  2.0  2.0  1.0  0.0  0.0  ...  NaN  0.0  0.0  NaN
38  0.0  1.0  1.0  NaN  NaN  0.0  NaN  NaN  1.0  0.0  ...  1.0  NaN  0.0  0.0
39  NaN  2.0  2.0  0.0  0.0  NaN  2.0  1.0  0.0  0.0  ...  NaN  1.0  NaN  NaN
40  1.0  1.0  2.0  NaN  1.0  2.0  0.0  1.0  0.0  0.0  ...  0.0  0.0  1.0  1.0
41  NaN  0.0  1.0  1.0  NaN  NaN  0.0  0.0  NaN  0.0  ...  0.0  1.0  0.0  2.0
42  0.0  1.0  0.0  0.0  1.0  NaN  2.0  NaN  NaN  0.0  ...  NaN  NaN  0.0  NaN
43  NaN  1.0  1.0  0.0  NaN  2.0  0.0  NaN  0.0  0.0  ...  2.0  0.0  1.0  0.0
44  1.0  1.0  0.0  0.0  0.0  NaN  NaN  0.0  NaN  2.0  ...  1.0  2.0  0.0  0.0
45  2.0  0.0  1.0  0.0  2.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  1.0  NaN
46  2.0  0.0  NaN  NaN  0.0  1.0  2.0  NaN  0.0  0.0  ...  2.0  2.0  2.0  0.0
47  NaN  1.0  1.0  1.0  0.0  NaN  2.0  0.0  NaN  0.0  ...  1.0  NaN  0.0  NaN
48  0.0  NaN  0.0  1.0  0.0  NaN  2.0  2.0  0.0  NaN  ...  0.0  2.0  NaN  0.0
49  NaN  0.0  1.0  0.0  1.0  NaN  1.0  NaN  NaN  0.0  ...  NaN  NaN  NaN  2.0

     44   45   46   47   48   49
0   0.0  NaN  0.0  0.0  0.0  NaN
1   NaN  NaN  1.0  2.0  NaN  0.0
2   NaN  NaN  0.0  2.0  NaN  1.0
3   NaN  1.0  NaN  NaN  2.0  1.0
4   1.0  0.0  1.0  0.0  1.0  2.0
5   NaN  1.0  2.0  0.0  1.0  NaN
6   1.0  0.0  0.0  1.0  NaN  0.0
7   1.0  0.0  0.0  NaN  1.0  NaN
8   NaN  0.0  NaN  2.0  0.0  0.0
9   NaN  2.0  0.0  NaN  0.0  0.0
10  NaN  2.0  NaN  NaN  0.0  2.0
11  2.0  NaN  0.0  0.0  NaN  NaN
12  NaN  1.0  2.0  NaN  0.0  NaN
13  0.0  2.0  0.0  0.0  NaN  NaN
14  0.0  NaN  NaN  0.0  0.0  NaN
15  NaN  NaN  1.0  2.0  2.0  0.0
16  0.0  0.0  2.0  NaN  NaN  NaN
17  1.0  2.0  2.0  1.0  0.0  NaN
18  0.0  0.0  2.0  NaN  NaN  0.0
19  NaN  NaN  0.0  NaN  1.0  1.0
20  1.0  NaN  2.0  NaN  0.0  1.0
21  1.0  2.0  0.0  0.0  NaN  NaN
22  0.0  2.0  NaN  NaN  1.0  0.0
23  NaN  NaN  1.0  2.0  2.0  NaN
24  2.0  NaN  0.0  1.0  NaN  NaN
25  NaN  1.0  0.0  1.0  NaN  1.0
26  NaN  NaN  0.0  2.0  2.0  2.0
27  2.0  NaN  NaN  NaN  1.0  0.0
28  0.0  NaN  0.0  1.0  2.0  NaN
29  0.0  1.0  NaN  NaN  NaN  NaN
30  0.0  0.0  NaN  NaN  NaN  0.0
31  1.0  1.0  NaN  2.0  NaN  0.0
32  2.0  0.0  0.0  2.0  2.0  0.0
33  0.0  1.0  NaN  0.0  0.0  NaN
34  0.0  0.0  2.0  NaN  2.0  2.0
35  1.0  NaN  0.0  NaN  0.0  NaN
36  2.0  2.0  NaN  0.0  NaN  2.0
37  1.0  0.0  NaN  0.0  0.0  0.0
38  2.0  2.0  0.0  1.0  1.0  0.0
39  NaN  NaN  2.0  NaN  NaN  1.0
40  0.0  NaN  0.0  0.0  2.0  NaN
41  0.0  0.0  NaN  0.0  2.0  0.0
42  0.0  1.0  1.0  NaN  0.0  NaN
43  2.0  2.0  2.0  1.0  2.0  0.0
44  NaN  0.0  NaN  0.0  1.0  0.0
45  0.0  0.0  NaN  NaN  0.0  2.0
46  0.0  NaN  0.0  1.0  NaN  NaN
47  0.0  NaN  0.0  0.0  1.0  NaN
48  2.0  1.0  NaN  0.0  NaN  NaN
49  1.0  2.0  0.0  NaN  NaN  0.0

[50 rows x 50 columns]

* Sort the rows in matrix `R` by the largest row sum to lowest. Be careful about the NA's!

In [143]:
#Compute the row sums while ignoring nan values
row_sums = np.nansum(R, axis = 1)

#Get the order of the indices that would sort the matrix
sorted_indices = np.argsort(row_sums)

#np.argsort(-row_sums) reverses the order so you don't have to wha twas done below.

#Use the indices to sort the matrix and use the slice notation to reverse it to descending order.
sorted_R = R[sorted_indices][::-1]


sorted_R

array([[nan,  0.,  2., ...,  1.,  0., nan],
       [nan,  1.,  1., ...,  1.,  2.,  0.],
       [nan,  0., nan, ...,  2.,  2.,  0.],
       ...,
       [ 2., nan,  0., ..., nan,  0.,  0.],
       [ 2.,  0., nan, ...,  1., nan,  1.],
       [ 2.,  0.,  0., ..., nan, nan, nan]])

* Python does not have an apply function. Instead use the nanstd function in numpy to calculate the standard devation of each column. Print them and combine then into a dataframe.

In [144]:
#Compute row-wise and column-wise standard deviations
row_std = np.nanstd(R,axis = 1)
col_std = np.nanstd(R, axis = 0)

#Map the results into a dictionary
results = {'row_std': row_std.tolist(), "col_std" : col_std.tolist()}

print(results['col_std'])
print(results['row_std'])

[0.8569883696666746, 0.7796775957738549, 0.7663273567663703, 0.6547602137424051, 0.8854098583616237, 0.8569883696666746, 0.8548156974127289, 0.7333512639012868, 0.8526566246830624, 0.8123867916017434, 0.8971610553204331, 0.8870956969291443, 0.8609445168157461, 0.7793206786821498, 0.7870051858976266, 0.7959954870644662, 0.8650259511678084, 0.8564835163859432, 0.7247430753394787, 0.8789148704402314, 0.7565186709392627, 0.8050858744917355, 0.7951240294584374, 0.8086898285216191, 0.8397710518356379, 0.8439325934114775, 0.793509094913686, 0.834296963511285, 0.8124038404635959, 0.8717797887081348, 0.8748897637790902, 0.7431203829658118, 0.8833308765689106, 0.82915619758885, 0.6976281474679596, 0.8299933065325822, 0.8534606386520674, 0.8447886244908864, 0.8542809364414886, 0.8588680463189059, 0.7473912964438374, 0.8177316926151672, 0.8408708057194978, 0.7898183349298625, 0.8050858744917355, 0.8425917976695477, 0.8650259511678083, 0.8312321759177501, 0.8425917976695477, 0.8057463065895121]
[0.8406827016444971, 0.8042692268752138, 0.7548237861496726, 0.7789619230571372, 0.7667790675964982, 0.8147947848043934, 0.7916658657230707, 0.8660254037844386, 0.7687785169756406, 0.7435057058415332, 0.8498025724077091, 0.9117647058823529, 0.9326988577290942, 0.9131223741405675, 0.7949493345141213, 0.8589323557876055, 0.7111421833886646, 0.7613092911128131, 0.7581815759513214, 0.7551419297238467, 0.8559031717046192, 0.7071067811865476, 0.8442764761416073, 0.7948810838735565, 0.8265564664839913, 0.7759128922285868, 0.8071991634090854, 0.8858781088734572, 0.8620067027323834, 0.855235974119758, 0.9123280382981347, 0.8173457715690274, 0.8807546383057459, 0.7787177820513957, 0.8748897637790901, 0.858501148195672, 0.8342969635112851, 0.6418563290290766, 0.7310507928372617, 0.7715802465185059, 0.8599952539024236, 0.803817071015856, 0.8076779989575054, 0.858878678176627, 0.8585011481956719, 0.8096679352535526, 0.9030099651970508, 0.742636415046538, 0.8589323557876055, 0.9180269263480239]

* combine the results from the previous cell into a dataframe

In [145]:
results_df = pd.DataFrame(results)
results_df

     row_std   col_std
0   0.840683  0.856988
1   0.804269  0.779678
2   0.754824  0.766327
3   0.778962  0.654760
4   0.766779  0.885410
5   0.814795  0.856988
6   0.791666  0.854816
7   0.866025  0.733351
8   0.768779  0.852657
9   0.743506  0.812387
10  0.849803  0.897161
11  0.911765  0.887096
12  0.932699  0.860945
13  0.913122  0.779321
14  0.794949  0.787005
15  0.858932  0.795995
16  0.711142  0.865026
17  0.761309  0.856484
18  0.758182  0.724743
19  0.755142  0.878915
20  0.855903  0.756519
21  0.707107  0.805086
22  0.844276  0.795124
23  0.794881  0.808690
24  0.826556  0.839771
25  0.775913  0.843933
26  0.807199  0.793509
27  0.885878  0.834297
28  0.862007  0.812404
29  0.855236  0.871780
30  0.912328  0.874890
31  0.817346  0.743120
32  0.880755  0.883331
33  0.778718  0.829156
34  0.874890  0.697628
35  0.858501  0.829993
36  0.834297  0.853461
37  0.641856  0.844789
38  0.731051  0.854281
39  0.771580  0.858868
40  0.859995  0.747391
41  0.803817  0.817732
42  0.807678  0.840871
43  0.858879  0.789818
44  0.858501  0.805086
45  0.809668  0.842592
46  0.903010  0.865026
47  0.742636  0.831232
48  0.858932  0.842592
49  0.918027  0.805746

* Use the Pandas apply function to compute a vector whose entries are the count of entries that are 1 or 2 in each column

In [146]:
import pandas as pd

results_1_or_2 = df.apply(lambda col : ((col == 1) | (col == 2)).sum())

results_1_or_2

0     21
1     18
2     22
3     16
4     17
5     21
6     14
7     19
8     12
9     15
10    16
11    14
12    23
13    16
14    17
15    19
16    14
17    18
18    17
19    23
20    11
21    18
22    13
23    13
24    21
25    15
26    19
27    15
28    19
29    15
30    20
31    18
32    20
33    21
34    10
35    13
36    18
37    19
38    15
39    13
40    13
41    21
42    19
43    14
44    18
45    19
46    14
47    16
48    19
49    12
dtype: int64

Since we just switched between Pandas dataframes and Numpy arrays. Here are some handy ways to check to see if you are working with a Pandas dataframe or a Numpy array

In [147]:
# Check type directly
if type(R) == pd.DataFrame:
    print("R is a Pandas DataFrame")

if type(R) == np.ndarray:
    print("R is a NumPy array")

R is a NumPy array

In [148]:
# isinstance(object, classinfo): This function checks if an object is an instance of a specified class or subclass.
# function utilizing this function to check
def check_type(R):
    if isinstance(R, pd.DataFrame):
        return "Pandas DataFrame"
    elif isinstance(R, np.ndarray):
        return "NumPy array"
    else:
        return "Unknown type"

# Test the function
print(check_type(R))  # Output: Pandas DataFrame

NumPy array

* Create a list whose keys are the column number and values are the vector of the columns.

In [106]:
col_names_and_vectors = {i: df.loc[:, i].tolist() for i in range(df.shape[1])}

print(col_names_and_vectors)

{0: [1.0, 2.0, 1.0, 0.0, nan, nan, 0.0, nan, 0.0, 0.0, 0.0, 2.0, 0.0, 0.0, 2.0, 0.0, 0.0, 0.0, nan, nan, 2.0, 0.0, 0.0, nan, 2.0, 2.0, 0.0, nan, 2.0, nan, 1.0, 1.0, nan, 2.0, 1.0, nan, nan, 1.0, nan, 1.0, 0.0, 2.0, nan, nan, 0.0, 2.0, 0.0, nan, 1.0, 2.0], 1: [1.0, 2.0, nan, 2.0, 1.0, 0.0, 0.0, 2.0, 0.0, 0.0, nan, nan, nan, nan, nan, nan, 0.0, nan, nan, 2.0, nan, 2.0, 2.0, 1.0, nan, 0.0, nan, 0.0, nan, 1.0, 1.0, nan, 0.0, nan, 0.0, 1.0, 0.0, 2.0, nan, 0.0, nan, nan, nan, 2.0, nan, 2.0, 0.0, 0.0, 0.0, 2.0], 2: [1.0, 1.0, nan, nan, nan, 0.0, 2.0, 0.0, nan, nan, 0.0, nan, 0.0, nan, 0.0, 2.0, nan, 0.0, 2.0, 0.0, 0.0, 0.0, nan, 1.0, 0.0, 1.0, nan, nan, 2.0, 1.0, 1.0, 2.0, nan, 0.0, 1.0, nan, 0.0, 0.0, 0.0, nan, 0.0, 0.0, nan, 0.0, 2.0, 2.0, nan, 0.0, 2.0, 1.0], 3: [0.0, 2.0, 0.0, nan, 0.0, 0.0, nan, 1.0, 2.0, 1.0, 0.0, 2.0, 0.0, 2.0, 2.0, nan, 0.0, 0.0, 0.0, nan, nan, nan, 1.0, 2.0, 2.0, 1.0, nan, nan, nan, nan, 2.0, 0.0, 0.0, 0.0, 1.0, nan, 2.0, 2.0, nan, nan, 1.0, 0.0, 2.0, nan, 2.0, 0.0, 2.0, 0.0, 2.0, 0.0], 4: [1.0, nan, nan, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 2.0, 1.0, nan, 1.0, 1.0, nan, nan, 0.0, 0.0, 1.0, 2.0, 0.0, 1.0, nan, 1.0, 1.0, 1.0, nan, 2.0, nan, nan, 2.0, 2.0, nan, nan, nan, 0.0, nan, nan, nan, 0.0, 0.0, 1.0, 1.0, 0.0, 1.0, nan, 0.0, 1.0, 1.0], 5: [2.0, 2.0, 0.0, 2.0, 0.0, nan, 1.0, 1.0, nan, 0.0, 0.0, 2.0, 0.0, 1.0, 1.0, nan, 0.0, 0.0, 1.0, 2.0, 0.0, 0.0, nan, nan, 0.0, nan, 2.0, nan, nan, 0.0, 0.0, nan, 1.0, 0.0, 0.0, 0.0, 1.0, nan, 2.0, nan, 0.0, nan, 2.0, nan, 0.0, 2.0, nan, 0.0, 1.0, nan], 6: [0.0, nan, 0.0, nan, 0.0, 0.0, 1.0, 1.0, 0.0, 0.0, 0.0, nan, 0.0, 1.0, nan, 0.0, nan, 0.0, 0.0, nan, nan, 2.0, 2.0, nan, 0.0, 0.0, 1.0, nan, 0.0, nan, nan, 1.0, 1.0, 1.0, nan, 0.0, nan, 0.0, 2.0, 0.0, nan, 2.0, 0.0, nan, 1.0, 1.0, nan, 0.0, nan, nan], 7: [0.0, 1.0, 0.0, nan, 1.0, 0.0, nan, 2.0, 1.0, 2.0, 0.0, 2.0, 0.0, 0.0, 2.0, 0.0, 1.0, nan, 0.0, nan, 0.0, 1.0, nan, nan, 0.0, nan, 1.0, nan, 1.0, nan, 1.0, 0.0, 0.0, 0.0, nan, 1.0, nan, nan, nan, 1.0, 0.0, 1.0, 0.0, nan, 2.0, 0.0, 0.0, 2.0, 1.0, 0.0], 8: [0.0, 0.0, 2.0, 0.0, 1.0, 0.0, 1.0, 0.0, 0.0, 1.0, nan, nan, 0.0, 0.0, 0.0, nan, 0.0, 0.0, nan, 2.0, nan, 0.0, 2.0, 0.0, nan, nan, 2.0, 0.0, 2.0, 0.0, nan, 0.0, nan, nan, 0.0, 0.0, 0.0, 2.0, nan, 1.0, 0.0, 1.0, 0.0, 0.0, 1.0, 0.0, 1.0, nan, nan, 0.0], 9: [nan, 0.0, 0.0, 0.0, 0.0, nan, nan, 0.0, 1.0, 1.0, nan, 0.0, 2.0, 1.0, 2.0, 0.0, nan, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 1.0, 1.0, 2.0, nan, 0.0, 1.0, 2.0, nan, nan, 2.0, 0.0, 1.0, 2.0, nan, 1.0, 0.0, 0.0, nan, nan, nan, 2.0, 1.0, 0.0, 1.0, 0.0, 2.0, 0.0], 10: [2.0, nan, 2.0, 2.0, 1.0, 1.0, 0.0, 0.0, nan, 0.0, 1.0, 2.0, 0.0, 0.0, nan, nan, 1.0, nan, 0.0, nan, 0.0, 1.0, 2.0, 2.0, 1.0, 2.0, 2.0, 1.0, 0.0, 0.0, 0.0, nan, 2.0, 0.0, 0.0, nan, 0.0, 1.0, 1.0, nan, 1.0, nan, 1.0, 2.0, 0.0, 0.0, 0.0, nan, 0.0, nan], 11: [0.0, nan, 2.0, 0.0, 2.0, nan, 0.0, nan, 1.0, nan, 2.0, nan, nan, 0.0, nan, 2.0, 2.0, 2.0, nan, 0.0, 2.0, 0.0, nan, nan, 1.0, 2.0, 2.0, 0.0, 1.0, 0.0, 0.0, nan, 1.0, nan, 2.0, 0.0, nan, 0.0, 1.0, 0.0, 0.0, nan, 2.0, 0.0, 0.0, 0.0, 0.0, nan, nan, 1.0], 12: [nan, nan, 2.0, nan, 0.0, 0.0, 0.0, 0.0, 1.0, nan, 0.0, 0.0, 0.0, nan, 0.0, 2.0, nan, 1.0, 2.0, 0.0, nan, nan, 0.0, 2.0, 2.0, 0.0, 0.0, nan, 0.0, 2.0, nan, 0.0, 0.0, 0.0, 0.0, nan, 1.0, 0.0, nan, nan, 1.0, 0.0, 0.0, 0.0, 0.0, 2.0, 0.0, 0.0, 0.0, 0.0], 13: [0.0, 0.0, 1.0, 2.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, nan, 0.0, 1.0, 0.0, 1.0, nan, nan, 1.0, 0.0, 2.0, nan, 0.0, 2.0, nan, 2.0, nan, 0.0, nan, 1.0, 2.0, 0.0, nan, 0.0, 0.0, nan, 2.0, 0.0, nan, 1.0, 0.0, nan, nan, 0.0, 0.0, 1.0, 1.0, 2.0, 2.0, 1.0, 0.0], 14: [0.0, nan, 2.0, 0.0, 0.0, 1.0, nan, 0.0, nan, 2.0, 0.0, 0.0, nan, 0.0, nan, 1.0, 1.0, 2.0, nan, 2.0, 0.0, 0.0, nan, 1.0, 1.0, 0.0, 2.0, 1.0, 2.0, 0.0, 0.0, nan, nan, nan, 2.0, 2.0, 1.0, nan, 0.0, nan, nan, 1.0, 1.0, nan, 1.0, 0.0, 0.0, 0.0, 2.0, 0.0], 15: [1.0, 1.0, 0.0, nan, 0.0, 1.0, nan, nan, 0.0, 0.0, 1.0, 0.0, 0.0, 2.0, 2.0, 1.0, 2.0, 2.0, 2.0, nan, nan, 2.0, 0.0, nan, 0.0, 0.0, 0.0, 2.0, 0.0, 1.0, nan, nan, 2.0, 0.0, 0.0, nan, 2.0, 0.0, 1.0, 0.0, 0.0, 2.0, 0.0, nan, 2.0, 1.0, nan, nan, 0.0, nan], 16: [0.0, nan, 0.0, nan, 1.0, 1.0, 2.0, 0.0, 0.0, 0.0, nan, 0.0, 2.0, 1.0, 0.0, 1.0, 0.0, 1.0, 1.0, 0.0, 2.0, 2.0, 0.0, 2.0, nan, nan, 2.0, nan, nan, nan, nan, nan, 0.0, nan, nan, nan, 0.0, 0.0, 0.0, nan, nan, 0.0, nan, 2.0, 0.0, 0.0, nan, 2.0, nan, 1.0], 17: [0.0, 2.0, 0.0, nan, 1.0, 1.0, 0.0, nan, 1.0, nan, 1.0, 2.0, nan, 0.0, nan, 0.0, 2.0, 2.0, 1.0, 1.0, nan, nan, nan, 0.0, 2.0, nan, 1.0, 1.0, nan, 0.0, 0.0, 0.0, nan, nan, nan, 0.0, 2.0, 2.0, 1.0, 0.0, 0.0, 0.0, nan, 2.0, nan, 2.0, nan, 2.0, nan, 2.0], 18: [1.0, 0.0, 0.0, nan, 1.0, nan, nan, 1.0, 0.0, 0.0, 0.0, 0.0, 2.0, 0.0, nan, nan, 0.0, 2.0, 2.0, nan, 1.0, 0.0, 1.0, 0.0, nan, nan, 0.0, 1.0, 1.0, 2.0, nan, 2.0, 0.0, 1.0, nan, 0.0, 0.0, 1.0, nan, 1.0, 2.0, nan, nan, 0.0, nan, 2.0, 0.0, nan, nan, 0.0], 19: [0.0, 0.0, nan, 1.0, nan, nan, 1.0, nan, 0.0, 1.0, nan, 2.0, 1.0, 0.0, nan, 0.0, 1.0, 2.0, 0.0, 1.0, nan, 0.0, 0.0, 1.0, nan, 2.0, 0.0, nan, 0.0, 0.0, 1.0, 1.0, nan, 0.0, 2.0, 2.0, 1.0, nan, 2.0, 2.0, 0.0, 0.0, 0.0, 0.0, 0.0, nan, 0.0, nan, 0.0, 0.0], 20: [2.0, 0.0, 0.0, 0.0, 1.0, nan, 0.0, nan, 1.0, 0.0, nan, 1.0, 0.0, 1.0, nan, 2.0, 0.0, 1.0, nan, nan, 0.0, 0.0, 0.0, nan, nan, 0.0, 0.0, 2.0, nan, nan, 1.0, nan, 0.0, 1.0, nan, 0.0, nan, 1.0, 2.0, 0.0, nan, 0.0, 1.0, 2.0, nan, nan, 0.0, 0.0, nan, 2.0], 21: [nan, 1.0, 2.0, nan, 1.0, 0.0, 0.0, 2.0, 2.0, 0.0, 1.0, 0.0, nan, nan, 2.0, 2.0, 0.0, 2.0, 1.0, nan, nan, 2.0, 2.0, 0.0, 2.0, 1.0, nan, nan, nan, 0.0, 0.0, 1.0, nan, nan, 1.0, 1.0, 0.0, nan, 0.0, 2.0, 0.0, 0.0, 0.0, nan, 2.0, 1.0, 1.0, 1.0, 0.0, 2.0], 22: [nan, 2.0, nan, nan, nan, 0.0, 2.0, nan, nan, nan, 0.0, 0.0, 1.0, 1.0, nan, nan, nan, 1.0, 1.0, 0.0, nan, nan, 2.0, 2.0, 2.0, 0.0, 0.0, nan, 2.0, 0.0, nan, 0.0, 1.0, 0.0, 1.0, nan, 0.0, 0.0, nan, 0.0, 1.0, 0.0, nan, nan, 0.0, nan, 1.0, nan, nan, nan], 23: [nan, 1.0, 0.0, 0.0, nan, 2.0, 0.0, 1.0, 0.0, 1.0, 0.0, 1.0, 0.0, nan, nan, 2.0, 1.0, 0.0, 1.0, nan, nan, 2.0, 2.0, 1.0, nan, 1.0, nan, 2.0, nan, 1.0, 2.0, nan, 0.0, nan, nan, 0.0, 1.0, 1.0, nan, 0.0, nan, 0.0, 2.0, 1.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0], 24: [0.0, 0.0, nan, 0.0, 0.0, 0.0, nan, nan, nan, 1.0, 1.0, nan, 0.0, 0.0, 0.0, 2.0, nan, nan, 0.0, 0.0, nan, 0.0, 0.0, nan, nan, nan, 0.0, 1.0, 1.0, 0.0, 2.0, nan, nan, 0.0, 0.0, 0.0, nan, 0.0, 0.0, nan, nan, 1.0, 0.0, 0.0, 0.0, nan, nan, nan, 0.0, 0.0], 25: [0.0, 0.0, 1.0, nan, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 1.0, 1.0, 0.0, nan, 2.0, 2.0, 1.0, 0.0, 1.0, 0.0, nan, 0.0, nan, 2.0, nan, 1.0, 0.0, 0.0, 2.0, nan, 0.0, 2.0, 0.0, 1.0, 0.0, 0.0, nan, 2.0, 2.0, 0.0, 2.0, nan, nan, 0.0, 0.0, 2.0, nan], 26: [2.0, 0.0, 0.0, 1.0, 0.0, 2.0, 1.0, nan, 1.0, 0.0, 0.0, 1.0, nan, 1.0, 0.0, nan, 1.0, 2.0, nan, 2.0, 0.0, 0.0, nan, 0.0, nan, nan, 1.0, nan, nan, nan, 0.0, 2.0, nan, nan, 1.0, nan, nan, 1.0, 2.0, 0.0, 1.0, 1.0, 2.0, 2.0, 0.0, 2.0, nan, 0.0, 1.0, 2.0], 27: [2.0, 0.0, 0.0, 0.0, 0.0, nan, 0.0, 0.0, 2.0, 0.0, 0.0, 2.0, 1.0, 1.0, nan, 1.0, 1.0, nan, 0.0, nan, 0.0, 0.0, nan, nan, 1.0, 0.0, nan, 0.0, 2.0, 2.0, 0.0, nan, 1.0, 0.0, nan, nan, 0.0, nan, nan, nan, 0.0, 0.0, 0.0, nan, nan, 0.0, nan, 0.0, nan, nan], 28: [0.0, 2.0, nan, 1.0, 0.0, 0.0, 1.0, 1.0, 0.0, 2.0, 0.0, 0.0, 1.0, 2.0, nan, 0.0, 0.0, 2.0, 0.0, 0.0, 0.0, 0.0, nan, 1.0, 0.0, nan, 2.0, 0.0, 0.0, nan, 0.0, 0.0, 0.0, 0.0, 2.0, nan, 1.0, 0.0, 1.0, 2.0, nan, 2.0, 1.0, 0.0, nan, 0.0, 0.0, 1.0, nan, 0.0], 29: [0.0, 1.0, 0.0, nan, 0.0, nan, 2.0, nan, nan, 0.0, nan, 0.0, 2.0, nan, nan, 0.0, nan, 0.0, nan, 2.0, 2.0, 0.0, 0.0, 0.0, 0.0, 2.0, 0.0, 1.0, 0.0, 0.0, nan, 0.0, 0.0, 0.0, 0.0, 1.0, nan, 1.0, 0.0, nan, 1.0, nan, nan, 2.0, 1.0, 0.0, nan, 1.0, 1.0, 1.0], 30: [nan, 0.0, nan, 0.0, 0.0, nan, 2.0, 0.0, nan, 0.0, 1.0, nan, nan, 0.0, nan, 2.0, nan, 2.0, 0.0, 1.0, 0.0, 0.0, 0.0, nan, 1.0, nan, nan, nan, 0.0, nan, nan, nan, 0.0, nan, 0.0, 0.0, 2.0, 0.0, 2.0, nan, 0.0, 0.0, nan, nan, 2.0, 2.0, 0.0, nan, 0.0, 1.0], 31: [0.0, 1.0, 0.0, 1.0, 0.0, 0.0, 2.0, nan, 0.0, 2.0, 0.0, 0.0, 0.0, 1.0, 2.0, 0.0, 1.0, 0.0, nan, 2.0, 0.0, 1.0, 1.0, 2.0, 0.0, 0.0, 0.0, nan, nan, 2.0, 2.0, 0.0, 1.0, nan, nan, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, nan, 2.0, nan, nan, nan, nan, nan, nan], 32: [1.0, nan, nan, 1.0, 1.0, 2.0, 0.0, 2.0, nan, 0.0, 0.0, 0.0, nan, 2.0, 1.0, 1.0, 0.0, 0.0, 1.0, nan, 1.0, nan, 1.0, 0.0, nan, 2.0, nan, 0.0, 0.0, 0.0, 0.0, nan, 2.0, nan, 1.0, 2.0, 2.0, 2.0, 0.0, 0.0, 1.0, nan, 0.0, 0.0, 2.0, 0.0, 1.0, 2.0, nan, 2.0], 33: [nan, nan, nan, nan, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, nan, 1.0, nan, 1.0, 2.0, 0.0, 0.0, 0.0, 2.0, 2.0, 2.0, 0.0, nan, 2.0, 1.0, 1.0, nan, nan, 1.0, 0.0, 2.0, nan, 1.0, 0.0, 2.0, 0.0, nan, 0.0, 2.0, 0.0, 1.0, 0.0, nan, 2.0, nan, 0.0], 34: [1.0, 0.0, nan, 0.0, nan, 2.0, 0.0, 2.0, 1.0, 1.0, 1.0, 0.0, 2.0, 0.0, 2.0, nan, 2.0, nan, nan, 0.0, 1.0, 0.0, 0.0, 1.0, nan, 2.0, 2.0, 0.0, nan, 2.0, 0.0, 0.0, 0.0, 2.0, nan, 2.0, nan, nan, 0.0, 0.0, 0.0, 0.0, nan, 2.0, nan, nan, 0.0, 0.0, 2.0, nan], 35: [nan, 0.0, nan, 2.0, nan, 0.0, 2.0, nan, nan, 2.0, nan, nan, nan, 0.0, 0.0, 2.0, 0.0, 0.0, 1.0, 1.0, 0.0, 2.0, 0.0, 0.0, nan, nan, nan, 1.0, 0.0, 2.0, 1.0, 0.0, 1.0, 0.0, 2.0, 1.0, 1.0, 0.0, 2.0, nan, nan, 0.0, 0.0, 2.0, 0.0, nan, 2.0, 0.0, nan, 1.0], 36: [1.0, nan, 1.0, 0.0, nan, nan, nan, nan, nan, nan, 0.0, 0.0, nan, 2.0, 0.0, 0.0, nan, 2.0, 0.0, nan, 2.0, nan, 1.0, 1.0, 0.0, 0.0, 2.0, 0.0, nan, 0.0, 2.0, 0.0, 2.0, 0.0, nan, 0.0, 0.0, nan, 2.0, 0.0, 0.0, 0.0, 1.0, 0.0, 2.0, nan, nan, 0.0, 1.0, nan], 37: [1.0, 0.0, 2.0, 2.0, 1.0, 0.0, 1.0, 0.0, nan, 2.0, 0.0, 1.0, 1.0, 0.0, 0.0, nan, 0.0, 1.0, 0.0, 0.0, 0.0, 2.0, nan, nan, 0.0, 0.0, 0.0, 1.0, nan, 0.0, 1.0, 2.0, 2.0, 0.0, 1.0, nan, 2.0, nan, nan, 0.0, nan, 0.0, 0.0, 1.0, nan, nan, 0.0, nan, 1.0, nan], 38: [nan, 1.0, 0.0, 0.0, nan, nan, nan, 2.0, nan, nan, nan, nan, 2.0, 0.0, 0.0, 1.0, nan, nan, nan, 1.0, 2.0, 0.0, 2.0, 0.0, 2.0, 0.0, nan, 1.0, nan, nan, 1.0, 2.0, 0.0, nan, nan, nan, nan, 1.0, 0.0, 2.0, 2.0, 2.0, 1.0, 0.0, 0.0, 2.0, 2.0, nan, nan, nan], 39: [nan, 1.0, 1.0, 2.0, 0.0, 0.0, 0.0, 2.0, 1.0, 0.0, 0.0, 0.0, nan, 1.0, nan, 0.0, 2.0, nan, 1.0, 2.0, nan, 0.0, 0.0, 0.0, 0.0, nan, 1.0, 0.0, 0.0, nan, 1.0, 0.0, 2.0, 2.0, 0.0, 1.0, 2.0, nan, nan, 0.0, 0.0, 0.0, 1.0, 0.0, nan, 0.0, 2.0, 0.0, 0.0, nan], 40: [1.0, 1.0, 0.0, 1.0, nan, 0.0, 2.0, 0.0, 0.0, 2.0, 0.0, nan, 0.0, nan, 0.0, 0.0, 1.0, 0.0, 0.0, 1.0, 1.0, 1.0, 2.0, 2.0, nan, 0.0, 1.0, 0.0, 0.0, nan, 0.0, 0.0, 2.0, 0.0, 0.0, nan, nan, 0.0, 0.0, nan, nan, 2.0, 0.0, nan, 0.0, nan, nan, nan, 0.0, nan], 41: [1.0, nan, 0.0, 0.0, 0.0, 0.0, 0.0, nan, nan, 1.0, 0.0, 2.0, 2.0, 1.0, nan, nan, 2.0, 1.0, 1.0, 1.0, 1.0, 2.0, nan, nan, 2.0, 2.0, 0.0, nan, 2.0, nan, nan, nan, 1.0, 1.0, 0.0, nan, 0.0, nan, nan, nan, 1.0, 0.0, nan, 0.0, 1.0, 2.0, 0.0, nan, nan, 0.0], 42: [nan, 2.0, 1.0, nan, nan, 0.0, 2.0, 0.0, 0.0, nan, 1.0, nan, nan, 0.0, 2.0, 0.0, 0.0, 1.0, 0.0, 2.0, nan, nan, nan, nan, nan, 1.0, 0.0, nan, nan, nan, 0.0, nan, nan, nan, nan, 0.0, nan, nan, 0.0, 2.0, 0.0, nan, nan, 1.0, nan, 2.0, 1.0, 0.0, nan, nan], 43: [0.0, nan, nan, 1.0, 0.0, 0.0, 2.0, 1.0, 0.0, 0.0, nan, 0.0, nan, 0.0, 1.0, nan, 0.0, 0.0, 1.0, 2.0, nan, 0.0, 0.0, 1.0, 0.0, 1.0, nan, 0.0, 1.0, 1.0, 1.0, 0.0, 0.0, nan, 2.0, 1.0, 0.0, 0.0, 1.0, 1.0, 0.0, 0.0, 1.0, 1.0, nan, 1.0, 0.0, 1.0, 0.0, 1.0], 44: [2.0, 2.0, 1.0, 1.0, 0.0, 0.0, nan, 1.0, 0.0, 0.0, 1.0, nan, 1.0, 0.0, 2.0, 2.0, 1.0, 2.0, 0.0, 1.0, 0.0, 1.0, nan, nan, 2.0, 1.0, 1.0, 2.0, 2.0, nan, 0.0, 1.0, 0.0, nan, nan, nan, 0.0, 1.0, 1.0, 2.0, nan, 0.0, 0.0, 1.0, 1.0, nan, 2.0, 0.0, 0.0, nan], 45: [nan, nan, 2.0, 0.0, nan, 0.0, nan, 0.0, 0.0, 0.0, 1.0, 1.0, 2.0, nan, 0.0, nan, 0.0, 1.0, nan, 0.0, 0.0, 2.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, nan, 2.0, nan, nan, 0.0, 2.0, 2.0, 0.0, nan, 2.0, nan, nan, nan, 2.0, nan, 0.0, 2.0, nan, nan, nan, 1.0], 46: [nan, nan, 0.0, 0.0, nan, 0.0, 2.0, nan, 0.0, 0.0, 0.0, 0.0, 0.0, nan, 2.0, 2.0, nan, 1.0, 1.0, 1.0, 0.0, 1.0, 2.0, nan, 2.0, 1.0, 1.0, 1.0, 1.0, 0.0, 0.0, 2.0, 1.0, 1.0, 0.0, 2.0, 0.0, 1.0, 1.0, 0.0, 1.0, 2.0, 1.0, nan, 0.0, 1.0, 1.0, 1.0, 1.0, 1.0], 47: [2.0, 2.0, 0.0, 1.0, 2.0, nan, nan, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 2.0, 2.0, 2.0, nan, 1.0, nan, 0.0, 0.0, 2.0, 1.0, nan, 1.0, 0.0, 2.0, 2.0, 0.0, nan, 2.0, 0.0, 1.0, nan, 0.0, 2.0, 0.0, 0.0, nan, 1.0, 1.0, 2.0, 2.0, 1.0, 0.0, 0.0, 0.0, 0.0, 2.0], 48: [2.0, 2.0, 0.0, 0.0, 2.0, nan, nan, nan, 0.0, 0.0, nan, nan, nan, 2.0, 2.0, nan, 0.0, nan, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, nan, 1.0, 0.0, 1.0, nan, 0.0, nan, 1.0, nan, nan, 0.0, nan, 0.0, 1.0, nan, 2.0, 2.0, 1.0, 2.0, nan, nan, 2.0, nan, nan, 0.0, 0.0], 49: [2.0, 2.0, 2.0, 0.0, 1.0, 2.0, 0.0, nan, nan, 2.0, nan, 0.0, nan, nan, 1.0, 0.0, 0.0, 2.0, nan, 2.0, 2.0, 0.0, 1.0, nan, 2.0, 1.0, nan, nan, nan, 1.0, 0.0, 0.0, 1.0, 2.0, 0.0, 2.0, 1.0, 2.0, 1.0, 0.0, 0.0, nan, 2.0, 2.0, 0.0, 0.0, nan, 2.0, 1.0, 1.0]}

* Create a list whose keys are the column number and values are themselves a list with keys: "min" whose value is the minimum of the column, "max" whose value is the maximum of the column, "pct_missing" is the proportion of missingness in the column and "first_NA" whose value is the row number of the first time the NA appears. In R this was accomplished using lappy. In Python we will use dictionary comprehension in tandem with Numpy and Pandas operations.

In [149]:
import pandas as pd

df = pd.DataFrame(R)

col_stats = {
    i:{
        "min" : df.iloc[:, i].min(skipna=True),
        "max" : df.iloc[:, i].min(skipna= True),
        "pct_missing" : df.iloc[:, i].isna().mean(),
        "first_NA" : df.iloc[:, i].isna().idxmax() if df.iloc[:, i].isna().any() else None
    }
    for i in range(df.shape[1])
}

print(col_stats)

{0: {'min': 0.0, 'max': 0.0, 'pct_missing': 0.32, 'first_NA': 1}, 1: {'min': 0.0, 'max': 0.0, 'pct_missing': 0.34, 'first_NA': 0}, 2: {'min': 0.0, 'max': 0.0, 'pct_missing': 0.24, 'first_NA': 0}, 3: {'min': 0.0, 'max': 0.0, 'pct_missing': 0.36, 'first_NA': 2}, 4: {'min': 0.0, 'max': 0.0, 'pct_missing': 0.28, 'first_NA': 5}, 5: {'min': 0.0, 'max': 0.0, 'pct_missing': 0.32, 'first_NA': 4}, 6: {'min': 0.0, 'max': 0.0, 'pct_missing': 0.28, 'first_NA': 1}, 7: {'min': 0.0, 'max': 0.0, 'pct_missing': 0.22, 'first_NA': 4}, 8: {'min': 0.0, 'max': 0.0, 'pct_missing': 0.46, 'first_NA': 0}, 9: {'min': 0.0, 'max': 0.0, 'pct_missing': 0.24, 'first_NA': 6}, 10: {'min': 0.0, 'max': 0.0, 'pct_missing': 0.3, 'first_NA': 0}, 11: {'min': 0.0, 'max': 0.0, 'pct_missing': 0.3, 'first_NA': 1}, 12: {'min': 0.0, 'max': 0.0, 'pct_missing': 0.18, 'first_NA': 9}, 13: {'min': 0.0, 'max': 0.0, 'pct_missing': 0.24, 'first_NA': 2}, 14: {'min': 0.0, 'max': 0.0, 'pct_missing': 0.32, 'first_NA': 9}, 15: {'min': 0.0, 'max': 0.0, 'pct_missing': 0.34, 'first_NA': 1}, 16: {'min': 0.0, 'max': 0.0, 'pct_missing': 0.32, 'first_NA': 1}, 17: {'min': 0.0, 'max': 0.0, 'pct_missing': 0.32, 'first_NA': 1}, 18: {'min': 0.0, 'max': 0.0, 'pct_missing': 0.34, 'first_NA': 0}, 19: {'min': 0.0, 'max': 0.0, 'pct_missing': 0.32, 'first_NA': 2}, 20: {'min': 0.0, 'max': 0.0, 'pct_missing': 0.38, 'first_NA': 0}, 21: {'min': 0.0, 'max': 0.0, 'pct_missing': 0.3, 'first_NA': 2}, 22: {'min': 0.0, 'max': 0.0, 'pct_missing': 0.4, 'first_NA': 1}, 23: {'min': 0.0, 'max': 0.0, 'pct_missing': 0.32, 'first_NA': 1}, 24: {'min': 0.0, 'max': 0.0, 'pct_missing': 0.16, 'first_NA': 0}, 25: {'min': 0.0, 'max': 0.0, 'pct_missing': 0.4, 'first_NA': 1}, 26: {'min': 0.0, 'max': 0.0, 'pct_missing': 0.26, 'first_NA': 0}, 27: {'min': 0.0, 'max': 0.0, 'pct_missing': 0.34, 'first_NA': 2}, 28: {'min': 0.0, 'max': 0.0, 'pct_missing': 0.2, 'first_NA': 0}, 29: {'min': 0.0, 'max': 0.0, 'pct_missing': 0.4, 'first_NA': 7}, 30: {'min': 0.0, 'max': 0.0, 'pct_missing': 0.28, 'first_NA': 7}, 31: {'min': 0.0, 'max': 0.0, 'pct_missing': 0.26, 'first_NA': 6}, 32: {'min': 0.0, 'max': 0.0, 'pct_missing': 0.36, 'first_NA': 0}, 33: {'min': 0.0, 'max': 0.0, 'pct_missing': 0.44, 'first_NA': 1}, 34: {'min': 0.0, 'max': 0.0, 'pct_missing': 0.34, 'first_NA': 1}, 35: {'min': 0.0, 'max': 0.0, 'pct_missing': 0.4, 'first_NA': 0}, 36: {'min': 0.0, 'max': 0.0, 'pct_missing': 0.28, 'first_NA': 7}, 37: {'min': 0.0, 'max': 0.0, 'pct_missing': 0.32, 'first_NA': 0}, 38: {'min': 0.0, 'max': 0.0, 'pct_missing': 0.3, 'first_NA': 1}, 39: {'min': 0.0, 'max': 0.0, 'pct_missing': 0.28, 'first_NA': 1}, 40: {'min': 0.0, 'max': 0.0, 'pct_missing': 0.36, 'first_NA': 3}, 41: {'min': 0.0, 'max': 0.0, 'pct_missing': 0.32, 'first_NA': 1}, 42: {'min': 0.0, 'max': 0.0, 'pct_missing': 0.24, 'first_NA': 0}, 43: {'min': 0.0, 'max': 0.0, 'pct_missing': 0.26, 'first_NA': 0}, 44: {'min': 0.0, 'max': 0.0, 'pct_missing': 0.3, 'first_NA': 1}, 45: {'min': 0.0, 'max': 0.0, 'pct_missing': 0.36, 'first_NA': 0}, 46: {'min': 0.0, 'max': 0.0, 'pct_missing': 0.32, 'first_NA': 3}, 47: {'min': 0.0, 'max': 0.0, 'pct_missing': 0.38, 'first_NA': 3}, 48: {'min': 0.0, 'max': 0.0, 'pct_missing': 0.36, 'first_NA': 1}, 49: {'min': 0.0, 'max': 0.0, 'pct_missing': 0.42, 'first_NA': 0}}

* Set a seed and then create a vector `v` consisting of a sample of 1,000 iid normal realizations with mean -10 and variance 100.

In [150]:
np.random.seed(7)
v = np.asarray(np.random.normal(loc=-10, scale= 100, size= 100))
v

array([ 1.59052570e+02, -5.65937371e+01, -6.71798363e+00,  3.07516283e+01,
       -8.88923029e+01, -9.79344271e+00, -1.00890386e+01, -1.85472431e+02,
        9.17658006e+01,  5.00498516e+01, -7.25428974e+01, -2.71548261e+01,
        4.05299374e+01, -3.61356415e+01, -3.42749079e+01, -1.55324141e+02,
        4.54580312e+01,  2.38809053e+00,  1.74459924e+01, -1.62652453e+02,
        1.55069969e+02,  5.43355355e+00, -4.87139943e+01,  1.92907222e+02,
       -1.45386030e+01, -1.55067870e+02, -5.05227855e+01, -2.38831510e+02,
        9.49396549e+01, -5.16474319e+01, -8.42553525e+01,  9.72470132e+01,
       -1.75107559e+02,  4.35429356e+01, -2.16441480e+02, -7.62159340e+01,
       -1.30421985e+02,  1.36197563e+02,  1.66616088e+02, -4.29413752e+01,
        7.40733242e+01, -2.79986401e+01,  4.68061887e+01, -8.52837196e+01,
       -1.80833920e+02, -1.90309866e+02,  2.83121852e+01,  2.14759505e+02,
        1.69411631e+01, -6.24604619e+01,  1.81201886e+02,  1.37301847e+01,
        1.43398521e-01,  1.52577736e+01, -2.32377198e+01, -4.09476341e+01,
       -1.53496347e+02,  4.01624123e+01, -1.94775450e+01,  1.09308592e+02,
       -4.68818468e+01, -2.00636988e+02, -1.99610632e+01,  1.59953730e+02,
       -4.83423123e+01, -9.89856861e+01, -1.29359192e+02, -1.15001681e+02,
       -4.00193737e+01, -1.27998209e+02,  1.39763912e+02, -3.82635236e+01,
        8.64837149e-01,  1.33823952e+02,  1.40331852e+02, -3.12732967e+01,
        2.31974215e+01,  6.35026584e+01, -2.92855460e+01, -1.87801285e+02,
        5.54705704e+01,  7.94352305e+01,  3.15502614e+01, -1.02354466e+02,
       -2.96027312e+01, -6.90769819e+01, -3.99711237e+01,  1.19688519e+02,
        1.42957963e+02,  5.69418193e+01,  4.48745120e+01,  5.76628990e+01,
       -1.12242187e+01, -1.75663461e+01, -7.73645187e+01, -1.55867450e+01,
        2.15994699e+02,  7.69039329e+01, -4.42117023e+01, -5.71926652e+01])

* Repeat this exercise by resetting the seed to ensure you obtain the same results. You can use the random module built in python or random.seed from numpy.

In [151]:
np.random.seed(7)
c = np.asarray(np.random.normal(loc=-10, scale= 100, size= 100))
print(c == v) # -> True

[ True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True]

* Find the average of `v` and the standard error of `v`.

In [152]:
np.mean(v)
np.std(v)

101.87395460972256

* Find the 5%ile of `v` and use the `norm` function from scipy.stats to compute what it theoretically should be. Is the estimate about what is expected by theory?

In [153]:
from scipy.stats import norm

norm.ppf(0.05,loc = -10, scale = 100)


#help(norm)

-174.48536269514727

* What is the percentile of `v` that corresponds to the value 0? What should it be theoretically? Is the estimate about what is expected by theory?

In [154]:
norm.cdf(x= 0, loc = -10, scale = 100)
#help(norm.cdf)

0.539827837277029

* Create a function `my_reverse` which takes as required input a vector `v` and returns the vector in reverse where the first entry is the last entry, etc. No function calls are allowed inside your function otherwise that would defeat the purpose of the exercise! (Yes, there is a base R function that does this called `rev`).

In [155]:
def my_reverse(v):
    reverse = v[::-1]
    return reverse

#I'll be honest, I did not see the next question. But string slicing doesn't count as a function call does it?

 * Built in methods in python to reverse a list.

In [156]:
#reverse using slicing
v = [1, 2, 3, 4, 5]
v_reversed = v[::-1]
print(v_reversed)

#using the .reverse method
v = [1, 2, 3, 4, 5]
v.reverse()
print(v)

[5, 4, 3, 2, 1]
[5, 4, 3, 2, 1]

* Create a function `flip_matrix` which takes as required input a matrix, an argument `dim_to_rev` that returns the matrix with the rows in reverse order or the columns in reverse order depending on the `dim_to_rev` argument. Let the default be the dimension of the matrix that is greater.

In [157]:
f = np.asarray(v)
def flip_matrix(v,dim_to_rev = None):
    rows, cols = v.shape

    if dim_to_rev is None

SyntaxError: expected ':' (4016932303.py, line 3)

* Create a list named `my_list` with keys "A", "B", ... where the entries are arrays of size 1, 2 x 2, 3 x 3 x 3, etc. Fill the array with the numbers 1, 2, 3, etc. Make 8 entries according to this sequence.

In [123]:
list_keys = ('A','B','C','D','E','F','G','H')
list_values = [1,2,3,4,5,6,7,8]
my_list = {}
for elem in range(len(list_keys)):
    my_list[list_keys[elem]] = list(range(1, list_values[elem] + 1))
    print(my_list[list_keys[elem]])

[1]
[1, 2]
[1, 2, 3]
[1, 2, 3, 4]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6, 7]
[1, 2, 3, 4, 5, 6, 7, 8]
{'A': [1], 'B': [1, 2], 'C': [1, 2, 3], 'D': [1, 2, 3, 4], 'E': [1, 2, 3, 4, 5], 'F': [1, 2, 3, 4, 5, 6], 'G': [1, 2, 3, 4, 5, 6, 7], 'H': [1, 2, 3, 4, 5, 6, 7, 8]}

* Run the following code:

In [ ]:
import sys

sizes = {key: sys.getsizeof(value) for key, value in my_list.items()}


# Print the sizes
for key, size in sizes.items():
    print(f"Key: {key}, Size: {size} bytes")

* Create vector `v` consisting of all numbers from -100 to 100 and test using the second line of code

In [ ]:
import numpy  as np
num_vec = np.asarray(range(-100,101))

num

* Test the `my_reverse` function using the following code:

In [ ]:
# Test the function
v = list(range(1, 11))
v_reversed = my_reverse(v)
print(v)
print(v_reversed)
type(v_reversed)

assert my_reverse(v) == v[::-1], "my_reverse failed for numerical vector"

 # Test with character vector
v_char = ["A", "B", "C"]
assert my_reverse(v_char) == v_char[::-1], "my_reverse failed for character vector"

## A little about strings

* Use the `re.split` function by importing the re module and `random` from the random module to put the sentences in the string `lorem` below in random order. You will also need to manipulate the output of `re.split` which is a list. You may need to learn basic concepts of regular expressions.

In [94]:
import re
import random

lorem = """Lorem ipsum dolor sit amet, consectetur adipiscing elit.
Morbi posuere varius volutpat. Morbi faucibus ligula id massa ultricies viverra.
Donec vehicula sagittis nisi non semper. Donec at tempor erat.
Integer dapibus mi lectus, eu posuere arcu ultricies in.
Cras suscipit id nibh lacinia elementum. Curabitur est augue, congue eget quam in, scelerisque semper magna.
Aenean nulla ante, iaculis sed vehicula ac, finibus vel arcu. Mauris at sodales augue."""

lorem_words = list(re.split(string=lorem, pattern= "(?<!\w\.\w.)(?<![A-Z][a-z]\.)(?<=\.|\?)(\s|[A-Z].*)", ))

lorem_words_clean = [elem for elem in lorem_words if elem not in {'\n', ' ', ','}]
        

print(random.choices(lorem_words_clean, k= len(lorem_words)))

print(lorem_words_clean)

['Mauris at sodales augue.', 'Donec at tempor erat.', 'Morbi faucibus ligula id massa ultricies viverra.', 'Mauris at sodales augue.', 'Morbi posuere varius volutpat.', 'Integer dapibus mi lectus, eu posuere arcu ultricies in.', 'Donec at tempor erat.', 'Donec at tempor erat.', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit.', 'Cras suscipit id nibh lacinia elementum.', 'Curabitur est augue, congue eget quam in, scelerisque semper magna.', 'Morbi faucibus ligula id massa ultricies viverra.', 'Aenean nulla ante, iaculis sed vehicula ac, finibus vel arcu.', 'Integer dapibus mi lectus, eu posuere arcu ultricies in.', 'Morbi posuere varius volutpat.', 'Morbi posuere varius volutpat.', 'Aenean nulla ante, iaculis sed vehicula ac, finibus vel arcu.', 'Mauris at sodales augue.', 'Morbi posuere varius volutpat.']
['Lorem ipsum dolor sit amet, consectetur adipiscing elit.', 'Morbi posuere varius volutpat.', 'Morbi faucibus ligula id massa ultricies viverra.', 'Donec vehicula sagittis nisi non semper.', 'Donec at tempor erat.', 'Integer dapibus mi lectus, eu posuere arcu ultricies in.', 'Cras suscipit id nibh lacinia elementum.', 'Curabitur est augue, congue eget quam in, scelerisque semper magna.', 'Aenean nulla ante, iaculis sed vehicula ac, finibus vel arcu.', 'Mauris at sodales augue.']

* You have a set of names divided by gender (M / F) and generation (Boomer / GenX / Millenial):

M / Boomer      "Theodore, Bernard, Gene, Herbert, Ray, Tom, Lee, Alfred, Leroy, Eddie"

M / GenX        "Marc, Jamie, Greg, Darryl, Tim, Dean, Jon, Chris, Troy, Jeff"

M / Millennial  "Zachary, Dylan, Christian, Wesley, Seth, Austin, Gabriel, Evan, Casey, Luis"

F / Boomer      "Gloria, Joan, Dorothy, Shirley, Betty, Dianne, Kay, Marjorie, Lorraine, Mildred"

F / GenX        "Tracy, Dawn, Tina, Tammy, Melinda, Tamara, Tracey, Colleen, Sherri, Heidi"

F / Millennial  "Samantha, Alexis, Brittany, Lauren, Taylor, Bethany, Latoya, Candice, Brittney, Cheyenne"

Create python dictionary to store this data.

In [ ]:
male_boomers = list("Theodore, Bernard, Gene, Herbert, Ray, Tom, Lee, Alfred, Leroy, Eddie".split(", "))
male_genx = list("Marc, Jamie, Greg, Darryl, Tim, Dean, Jon, Chris, Troy, Jeff".split(", "))
male_mills = list("Zachary, Dylan, Christian, Wesley, Seth, Austin, Gabriel, Evan, Casey, Luis".split(", "))

female_boomers = list("Gloria, Joan, Dorothy, Shirley, Betty, Dianne, Kay, Marjorie, Lorraine, Mildred".split(", "))
female_genx = list("Tracy, Dawn, Tina, Tammy, Melinda, Tamara, Tracey, Colleen, Sherri, Heidi".split(", "))
female_mills = list("Samantha, Alexis, Brittany, Lauren, Taylor, Bethany, Latoya, Candice, Brittney, Cheyenne".split(", "))

people_dict = {
    "Male" : {
        "Boomer" : male_boomers,
        "GenX" : male_genx,
        "Millenial" : male_mills
    },
    "Female" : {
        "Boomer" : female_boomers,
        "GenX" : female_genx,
        "Millenial" : female_mills
    }
}


people_dict

* Now cleanup the namespace by deleting all stored objects and functions:

In [ ]:

delete